[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
torchvision = "*"
pycocotools = {editable = true,subdirectory = "PythonAPI",git = "git@github.com/tryolabs/cocoapi.git"}
google-cloud-storage = "*"

[requires]
python_version = "3.6"
